= form_for @student, html: { class: "form form-horizontal student" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@student[:name])
  #h3 Courses
  #courses
    %span.ul
      - Course.all.each do |course|
        %label.li
          = check_box_tag :course_ids, course.id, @student.courses.include?(course), :name => 'student[course_ids][]'
          = course.name
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), students_path, :class => 'btn btn-default'
