- model_class = Student
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:register_number)
      %th= 'Active'
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @students.each do |student|
      %tr
        %td= link_to student.name, student_path(student)
        %td= student.register_number
        %td= student.active?
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_student_path(student), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), student_path(student), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_student_path, :class => 'btn btn-primary'
