- model_class = Student
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @student.name
%p
  %strong= model_class.human_attribute_name(:register_number) + ':'
  %br
  = @student.register_number
%p
  %strong= 'Active:'
  %br
  = @student.active?
%div#courses
  %h3 Courses:
  - @student.courses.each do |course|
    %p
      = link_to course.name, course_path(course)


= link_to t('.back', :default => t("helpers.links.back")), students_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_student_path(@student), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), student_path(@student), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
- if @student.active? == 'Yes'
  = link_to t('.edit', :default => 'Deactivate'), student_deactivate_path(@student), :class => 'btn btn-default'
- else
  = link_to t('.edit', :default => 'Activate!'), student_activate_path(@student), :class => 'btn btn-default'
