= form_for @course, html: { class: "form form-horizontal course" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@course[:name])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@course[:description])
  #h3 Students
  #students
    %span.ul
      - Student.all.each do |student|
        %label.li
          = check_box_tag :student_ids, student.id, @course.students.include?(student), :name => 'course[student_ids][]'
          = student.name
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), courses_path, :class => 'btn btn-default'
