- model_class = Course
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @course.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @course.description
%p
  %strong= 'Active:'
  %br
  = @course.active?
%div#students
  %h3 Students:
  - @course.students.each do |student|
    %p
      = link_to student.name, student_path(student)

= link_to t('.back', :default => t("helpers.links.back")), courses_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_course_path(@course), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), course_path(@course), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
- if @course.active? == 'Yes'
  = link_to t('.edit', :default => 'Deactivate'), course_deactivate_path(@course), :class => 'btn btn-default'
- else
  = link_to t('.edit', :default => 'Activate!'), course_activate_path(@course), :class => 'btn btn-default'
